//@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
/*----------------------------------------
    Variables
-----------------------------------------*/

// 1. Colors
$primary-color: #004aad !default;
$primary-color-light: #d7e8f8 !default;
$secondary-color: #eea10d !default;
$secondary-color-light: #ffcc6d !default;
$alert-color: #6d1a17 !default;
$danger-color: red !default;
$success-color: #799b5a !default;
$success-color-light: #c4df9b !default;
$warning-color: #ffa800 !default;
$dark-color: #333 !default;
$white-color: #fff !default;
$body-color: #666 !default;
$border-color: #eee !default;
$border-color-light: #ccc !default;
$grey-color: #00baa3 !default;
$grey-color-light: #f5f5f5 !default;
$link-color: #1914fe !default;
$light-color: #999 !default;
$info-color: #22a4fa !default;

// 2. Font-families
$alt-font-family: sans-serif !default;
$font-family: Poppins, $alt-font-family !default;
$second-font-family: "Open Sans", $alt-font-family !default;

// 3. Breakpoints
$breakpoints: (
    xs: 480px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px,
    xlst: 1920px,
);
$max-breakpoints: (
    xs: 479px,
    sm: 575px,
    md: 767px,
    lg: 991px,
    xl: 1199px,
    xxl: 1599px,
);

// 4. Social Link Color
$social-facebook: #1b4f9b;
$social-twitter: #00adef;
$social-instagram: #cc0001;
$social-youtube: #2c567e;
$social-pinterest: #f96a02;
$social-google: #dd4b39;
$social-linkedin: #0073b2;
$social-email: #dd4b39;
$social-whatsapp: #3c8a38;

// 5. Social Link Color
$dir: ltr !default;
