/*--------------------------------------
    Buttons
        - Button
            - Default
            - Primary
            - Success
            - Secondary
        - Outline Button
            - Primary
            - Success
            - Secondary
        - Icon Button
            - Icon Right, Left
            - Reveal Right, Left
        - Rounded
        - Round
        - Other Button Styles
            - Slide Left, Right, Top, Bottom
            - Infinite Loop
--------------------------------------*/

// Button 
.btn {
    display: inline-block;
    border: 2px solid #ccc;
    background-color: #fff;
    color: #666;
    outline: 0;
    border-radius: 0;
    font: {
        family: inherit;
        weight: 600;
        size: 1.4rem;
    }
    // Height 44px, Width 120px for default
    padding: 0.93em 1.98em;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    transition: color .3s, border-color .3s, background-color .3s, box-shadow .3s;
    white-space: nowrap;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        color: #666;
        border-color:   darken( #eee , 7% );
        background-color: darken( #eee , 7% );  
    }

    i {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.6rem;
        line-height: 0;
        margin-bottom: .2rem;
        &::before {
            margin: 0;
        }
    }
    &.btn-icon-right {
        i {
            margin-#{$right}: 0;
            margin-#{$left}: .6rem;
        }
    }

    &.btn-icon-left {
        i {
            margin-#{$right}: .6rem;
            margin-#{$left}: 0;
        }
    }

    svg {
        margin-#{$right}: .5rem;
        stroke: #fff;
        stroke-width: 3px;
        fill: #fff;
        transition: stroke .4s, fill .4s;
    }
}

// Outlined Button
.btn-outline {
    background-color: transparent;
    border: 2px solid;
    &.light {
        padding: .996em 2em;
        border: 1px solid;
    }
}

// // Icon Button
// .btn-icon-left,
// .btn-icon-right,
// .btn-reveal-left,
// .btn-reveal-right {
//     i {
//         line-height: 0;
//     }
// }

// Reveal Button
.btn-reveal-left {
    i {
        opacity: 0;
        margin-#{$left}: -1em;
        transform: translate(if-ltr(.5em,-.5em));
        margin-#{$right}: 0;
        transition: transform .3s, opacity .3s, margin .3s;
    }
    &:hover,
    &:active,
    &:focus {
        i {
            opacity: 1;
            margin-#{$left}: 0;
            transform: translateX(0);
            margin-#{$right}: .7rem;

        }
    }
}
.btn-reveal-right {
    i {
        opacity: 0;
        margin-#{$right}: -1em;
        transform: translateX(if-ltr(-.5em,.5em));
        margin-#{$left}: 0;
        transition: transform .3s, opacity .3s, margin .3s;
    }
    &:hover,
    &:active,
    &:focus {
        i {
            opacity: 1;
            margin-#{$right}: 0;
            transform: translateX(0);
            margin-#{$right}: .7rem;
        }
    }
}

// Simple Button
.btn-simple {
    &::after {
        display: block;
        margin-top: 3px;
        margin-#{$left}: auto;
        margin-#{$right}: auto;
        width: 100%;
        border-top: 3px solid;
        transition: transform .3s;
        content: '';
    }
}

// Linked Button
.btn-link {
    padding: 0;
    border: 0;
    background: transparent;
    @include only-for-ie() {
        overflow: visible;
    }

    &:not(.btn-underline) {
        padding-bottom: 3px;
    }

    &:hover,
    &.active,
    &:focus {
        background: transparent;
    }
}

// Shadow Button
.btn-shadow {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 17px 20px -7px rgba(0,0,0,.2);
    }
}

// Underlined Button
.btn-underline {
    &:hover,
    &:active,
    &:focus {
        &::after {
            transform: scaleX(1);
        }
    }
    &::after {
        display: block;
        margin-top: 3px;
        margin-#{$left}: auto;
        margin-#{$right}: auto;
        width: 100%;
        border-top: 3px solid;
        transform: scaleX(0);
        transition: transform .3s;
        content: '';
    }
    &.sm::after {
        width: 46%;
    }
    &.lg::after {
        margin-#{$left}: -16.5%;
        margin-#{$right}: -16.5%;
        width: 133%;
    }
}

// Like Button
.btn-like {
    font-size: 1.4rem;
    font-weight: 400;
    padding: .429em .874em;
    border-radius: 3px;
}

.save-button {
    position: absolute;
    right: 4px;
    background: $primary-color !important;
    color: white;
}

// Colored Button Styles
.btn-primary {
    @include button-variant($primary-color);
}
.btn-dark {
    @include button-variant($dark-color);
}
.btn-dark-light {
    @include button-variant($body-color);
}
.btn-white {
    @include button-variant($white-color);
    color: $dark-color;
    &.btn-outline:hover,
    &.btn-outline:active,
    &.btn-outline:focus {
        color: $primary-color;
        border-color: $white-color;
    }
    &:hover,
    &:active,
    &:focus {
        color: $white-color;
        background-color: $dark-color;
        border-color: $dark-color;
    }
}
.btn-success {
    @include button-variant($success-color);
}
.btn-warning {
    @include button-variant($warning-color);
}
.btn-secondary {
    @include button-variant($secondary-color);
}
.btn-error {
    @include button-variant($alert-color);
}
.btn-grey {
    @include button-variant($grey-color);
}
.btn {
    &.btn-rounded {
        border-radius: 3px;
    }
    
    &.btn-ellipse {
        border-radius: 30px;
    }

    &.btn-block {
        display: block;
        padding-#{$left}: 0;
        padding-#{$right}: 0;
        width: 100%;
        svg {
            display: inline-block;
            vertical-align: middle;
            margin-top: -4px;
        }
    }

    &.btn-sm {
        font-size: 1.3rem;
        padding: .77em 1.4em ;
    }

    &.btn-lg {
        font-size: 1.8rem;
        padding: 0.95em 1.835em;
    }

    &.btn-xl {
        font-size: 2.4rem;
        padding: 0.84em 1.8em;
    }

    svg {
        width: 16px;
        height: 16px;
    }
}

// Search Button
// .btn-search {
//     padding: 0;
//     &.btn-sm {
//         padding: .4em .95em;
//     }
//     i {
//         font-size: 1.8rem;
//         transform: rotateZ(-95deg);
//     }
// }

// Slide Button
.btn-slide-left {
    &:hover,
    &:active,
    &:focus {
        i {
            animation: .5s ease slideLeft;
        }
    }
}
.btn-slide-right {
    &:hover,
    &:active,
    &:focus {
        i {
            animation: .5s ease slideRight;
        }
    }
}
.btn-slide-up {
    &:hover,
    &:active,
    &:focus {
        i {
            animation: .5s ease slideUp;
        }
    }
}
.btn-slide-down {
    &:hover,
    &:active,
    &:focus {
        i {
            animation: .5s ease slideDown;
        }
    }
}
.btn-infinite {
    &:hover {
        i {
            animation-iteration-count: infinite;
        }
    }
}
// animations
@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(if-ltr(-.5em,.5em));
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(if-ltr(.5em,-.5em));
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(if-ltr(-.5em,.5em));
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(if-ltr(.5em,-.5em));
    }
    100% {
        transform: translateY(0);
    }
}