/* ---------------------------------------
    Icon Box
--------------------------------------- */

.icon-box {
    .icon-box-title {
        font-size: 1.4rem;
        //font-weight: 700;
        text-transform: capitalize;
        letter-spacing: -.025em;
        margin-bottom: .4rem;
    }
    p {
        font-size: 1.3rem;
        word-break: break-word;
        margin: 0;
        line-height: 1.2;
        color: #666;

    }
    .icon-box-content {
        text-align: center;
    }
    &.text-center {
        .icon-box-icon {
            margin-bottom: 1.6rem;
            &.icon-bag {
                margin-bottom: 1.8rem;
            }
            &.icon-money {
                margin: .1rem 0 2.2rem;
            }
            &.icon-chat {
                margin-bottom: 1.2rem;
            }
        }
    }
    &.icon-box-lg {
        .icon-box-title {
            font-size: 1.8rem;
        }
    }
    &.icon-colored-circle {
        .icon-box-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding-top: 0;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            background-color: $primary-color;
            color: #fff;
            margin-bottom: 2rem;
        }
    }
}

.icon-box-icon {
    display: inline-block;
    margin-bottom: 1.4rem;
    .icon-box-primary & i { color: $primary-color; }
    .icon-box-secondary & i { color: $secondary-color; }
    .icon-box-white & {
        svg {
            fill: $white-color;
        }
        i {
            color: $white-color;
        }
    }
    .icon-box-light & {
        svg {
            fill: $light-color;
        }
    }
   
    i {
        font-size: 2.9rem;
        font-weight: 400;
        line-height: 1;
        &.w-icon-truck { font-size: 3.9rem; }
        &.w-icon-bag { 
            font-size: 3.7rem; 
        }
        &.w-icon-money { font-size: 3.2rem; }
        &.w-icon-chat { font-size: 4.4rem; }
    }
    .icon-box-lg & {
        i {
            font-size: 6rem;
        }
    }
}

.icon-box.icon-box-secondary .icon-box-icon i { font-size: 3rem; }

.icon-box-side {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-box-content {
        text-align: start;
        p {
            line-height: 1;
        }
    }
    .icon-box-icon {
        margin-#{$right}: 1.5rem;
        margin-bottom: 0;
    }
    i { 
        display: inline-block;
        vertical-align: middle;
    }
}

.icon-border-circle {
    .icon-box-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        border: 1px solid #ccc;
    }
}

.circle-icon-section {
    margin: .7rem 0 5.7rem;
    padding: 5.7rem 0 3.2rem;
    background-color: #f8f8f8;
    .iconbox-wrap {
        margin-bottom: 4.9rem;
    }
}

.icon-box.icon-border-box {
    border: 1px solid #eeeeee;
    padding: 4rem 1rem 3.4rem;
    transition: box-shadow .4s;
    border-radius: .5rem;
    .icon-box-icon {
        margin-bottom: 2.5rem;
    }
    .icon-box-title {
        margin-bottom: .7rem;
    }
    p {
        margin-bottom: 1.6rem;
        line-height: 1.9;
    }
    a {
        color: $primary-color;
        font-weight: 600;
        font-size: 1.4rem;
        i {
            font-size: 1.6rem;
            vertical-align: middle;
            line-height: 0;
        }
    }

    &:hover {
        box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
    }
}

.iconbox-boxed-section {
    .row {
        margin: 0 -3rem;
        > * {
            padding: 0 3rem;
        }
    }
    .shadow-swiper {
        overflow-y: auto;
        padding: 4rem;
        margin: -4rem;
    }
}

@include mq(1320px, max) {
    .iconbox-boxed-section .shadow-swiper {
        padding: 4rem 2rem;
        margin: -4rem -2rem;
    }
}

@include mq(md) {
    .icon-box-side {
        &.icon-box-money {
            margin-top: .2rem;
        }
        &.icon-box-chat {
            margin-top: -.3rem;
        }
    }
}

@include mq(md, max) {
    .icon-box-side {
        flex-direction: column;
        .icon-box-icon {
            margin-#{$right}: 0;
            margin-bottom: 1rem;
        }
        .icon-box-content {
            text-align: center;
        }
        &.icon-box-money {
            margin-top: .6rem;
        }
        &.icon-box-chat .icon-box-icon  {
            margin-bottom: .4rem;
        }
    }
}

