/* -------------------------------------------
    Mini Popup
---------------------------------------------- */

.minipopup-area {
    position: fixed;
    #{$left}: 30px;
    bottom: 30px;
    z-index: 3000;
}
.minipopup-box {
    position: absolute;
    #{$left}: -8rem;
    width: 300px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity .3s, #{$left} .3s ease-out, transform .3s;
    z-index: 3000;

    &.show {
        opacity: 1;
        #{$left}: 0;
    }

    &.focus {
        transform: scale(.98) translateY(-100%);
    }

    .product.product-cart {
        padding-top: 0;
        margin-bottom: 1.5rem;
        .product-name {
            margin-bottom: .9rem;
            font-weight: 400;
        }
    }

    .product-details {
        padding: side-values(0 0 0 1.2rem);
    }

    p {
        margin-bottom: 0;
        font-size: 1.3rem;
        color: $body-color;
        line-height: 1.4;
    }

    .product-action {
        position: relative;
        opacity: 1;
        visibility: visible;
        justify-content: space-between;
        a:first-child {
            background-color: #eee;
            border-color: #eee;
            color: #333;
            &:hover, &:focus, &:active {
                background-color: #dcdcdc;
                border-color: #dcdcdc;
            }
        }
        .btn {
            padding-#{$left}: 1.9em;
            padding-#{$right}: 1.9em;
        }
    }
}
@include mq(xs, max) {
    .minipopup-area {
        #{$left}: 10px;
    }
}