/*--------------------------------
    Pagniation
---------------------------------*/

.pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
    color: #666;
    letter-spacing: .025em;
    > * {
        font-size: 1.4rem;
    }
    a {
        color: inherit;
    }
    .prev, .next {
        height: 4rem;
        min-width: 8rem;
        padding: 1.2rem;
        line-height: 1;
        text-align: center;
        letter-spacing: 0;
        &.disabled {
            color: #aaa;
        }
    }
    .prev {
        margin-#{$right}: .5rem;
        i {
            margin-#{$right}: .5rem;
        }
    }
    .next i {
        margin-#{$left}: .5rem;
    }
}
.page-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    height: 4rem;
    background-color: transparent;
    border: 1px solid transparent;
    transition: background-color .4s, border .4s, color .4s;
    line-height: 1;

    :hover:not(.disabled) > &,
    .active:not(.disabled) > & {
        background-color: transparent;
        border-color: #eee;
        color: $primary-color;
        border-radius: .3rem;
    }
}
.page-item:not(:last-child) {
    margin-#{$right}: .5rem;
}
.page-item-dots {
    white-space: nowrap;
    &::before {
        content: '...';
        display: inline-block;
        vertical-align: middle;
        font-size: .9rem;
        font-weight: 600;
        margin-#{$right}: .1rem;
        margin-top: -6px;
    }
}