.avg-mark {
    font-size: 6em;
    font-weight: 600;
    color: $primary-color;
    letter-spacing: -0.025em;
    line-height: 1;
    margin-bottom: 0;
}
.review-form {
    p{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
}