/*----------------------------------------
    Base
-----------------------------------------*/

// Set variables
@include set-default(
    (
        base: (
            // max-width of '.container'
            _container-width: 1280px,
            // max-width of '.container-fluid'
            _container-fluid-width: 1820px,
            // grid spaces
            _gutter-lg: 15px,
            _gutter-md: 10px,
            _gutter-sm: 5px,
            _gutter-xs: 1px,

            // Body
            body: (
                font-family: $font-family,
                font-size: 1.4rem,
                line-height: 1.6,
                color: $body-color,
                background: #fff
                
            ),
            page-wrapper: (
                margin-#{$left}: false,
                margin-#{$right}: false
            ),
            // Scroll Top
            scroll-top: (
                background-color: #43494e
            )
        )
    )
);

*, ::after, ::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-size-adjust: 100%;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    overflow-x: hidden;
    @include print_css( base, body );
}

main {
    display: block;
    position: relative;
}

body:not(.loaded) * {
    transition: all 0s !important;
}
.light-theme{
    color: $body-color;
    background: #fff;
}
.page-wrapper {
    position: relative;
    transition: margin .4s, opacity .5s;
    // opacity: 0;

    @include print_css( base, page-wrapper );
    
    .loaded > & {
        opacity: 1;
    }
}

ul {
    padding-#{$left}: 1.5em;
}
.menu, .menu ul,
.mobile-menu, .mobile-menu ul,
.nav, .nav ul,
.breadcrumb,
.widget-body, .widget-body ul,
.dropdown-box,
.category-list,
.product-details ul,
.pagination,
.filter-items,
.product-tabs > div ul,
.nav-filters,
.shipping-methods,
.shipping-methods ul,
.fee-description {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

// For Safari
input, .btn {
    margin: 0;
}

// anchor
a {
    text-decoration: none;
    color: $primary-color;
    transition: color .3s;

    &:hover {
        color: $link-color;
    }
}
:focus {
    outline: 0;
}

figure {
    margin: 0;
}
hr {
    margin: .5rem 0 1.5rem;
    border: 0;
    border-top: 1px solid #eee;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.scrollable {
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
		height: 7px;
		width: 4px;
    }
	&::-webkit-scrollbar-thumb {
		margin-#{$right}: 2px;
        background: rgba(0,0,0,0.25);
        border-radius: 5px;
        cursor: pointer;
        // -webkit-transition: background-color 0.3s;
        // transition: background-color 0.3s;
    }
   
}

.scrollable-light::-webkit-scrollbar-thumb {
    background: rgba(#fff,0.2);
}

.scrollable:hover::-webkit-scrollbar-thumb {
//.sidebar-content:hover::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.25);
}

// Sticky Content
.sticky-content {
    &.fix-top {
        top: 0;
    }

    &.fix-bottom {
        bottom: 0;
    }

    &.fixed {
        &.fix-top {
            animation: fixedTopContent .4s;
        }
        &.fix-bottom {
            animation: fixedBottomContent .4s;
        }
        position: fixed;
        #{$left}: 0;
        #{$right}: 0;
        opacity: 1;
        transform: translateY(0);
        z-index: 1051;
        box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
    }
}

// Scroll Top

#scroll-top {
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -4rem;
    #{$right}: 1.5rem;
    z-index: 9999;
    width: 4.6rem;
    height: 4.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #222;
    opacity: 0;
    transition: bottom 0.3s,opacity 0.3s;
}

#scroll-top.show {
    opacity: 1;
    bottom: 98px;
}

#scroll-top:focus,#scroll-top:hover {
    text-decoration: none
}

#scroll-top:hover {
    opacity: .8
}

#scroll-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 3.6rem;
    color: #fff;
    background-color: #333;
    border: 2px solid #333;
    border-radius: 50%;
    z-index: 1;
}

#scroll-top svg {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    top: 1px;
    #{$left}: 1px;
    z-index: -1
}

#scroll-top svg circle {
    stroke: #2C67E7;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-dasharray: 1,400
}

@media (max-width: 768px) {
    #scroll-top {
        display: none;
    }
}

// Load more icon animation (new)
.loading:not(.load-more-overlay),
.load-more-overlay.loading::after {
    animation: spin 650ms infinite linear;
    border: 2px solid transparent;
    border-radius: 32px;
    border-top: 2px solid rgba($primary-color,1) !important;
    border-#{$right}: 2px solid rgba($primary-color,0.4) !important;
    border-bottom: 2px solid rgba($primary-color,1) !important;
    border-#{$left}: 2px solid rgba($primary-color,0.4) !important;
    content: "";
    display: block;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    #{$left}: 50%;
    margin-#{$left}: -10px;
    #{$right}: auto;
    position: absolute;
    width: 20px;
}
.load-more-overlay {
    position: relative;

    &.loading::after {
        content: '';
    }
    &::before {
        content: '';
        position: absolute;
        #{$left}: 0;
        #{$right}: 0;
        top: 0;
        bottom: 0;
        background: #fff;
        opacity: .8;
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}


@include mq(md) {
    .scroll-top.show {
        visibility: visible;
        opacity: .7;
        transform: translateY(0);
    }
}