{% extends 'base.html' %}

{% load static i18n ratings %}
{% block styles %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
{% endblock %}
{% block content %}
<section class="product-list section is-small">
  <div class="columns">
    <div class="column">
      <aside class="menu">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a>Dashboard</a></li>
          <li><a>Customers</a></li>
        </ul>
        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li><a>Team Settings</a></li>
          <li>
            <a class="is-active">Manage Your Team</a>
            <ul>
              <li><a>Members</a></li>
              <li><a>Plugins</a></li>
              <li><a>Add a member</a></li>
            </ul>
          </li>
          <li><a>Invitations</a></li>
          <li><a>Cloud Storage Environment Settings</a></li>
          <li><a>Authentication</a></li>
        </ul>
        <p class="menu-label">
          Transactions
        </p>
        <ul class="menu-list">
          <li><a>Payments</a></li>
          <li><a>Transfers</a></li>
          <li><a>Balance</a></li>
        </ul>
      </aside>
    </div>
    <div class="column is-three-quarters">
      <div class=" grid">


        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <a href="/products/detail/1">
                <figure class="image is-4by3">
                  <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
                </figure>
              </a>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div class="rating-stars">
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
              </figure>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div>
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
              </figure>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div>
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
              </figure>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div>
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
              </figure>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div>
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
              </figure>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div>
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
              </figure>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div>
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
              </figure>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div>
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
              </figure>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div>
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
              </figure>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div>
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
              </figure>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div>
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
              </figure>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div>
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
              </figure>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div>
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
              </figure>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div>
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
              </figure>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div>
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://source.unsplash.com/random/1280x960?nature" alt="a random image">
              </figure>
            </div>
            <div class="card-content">
              <p class="subtitle">Amazon Basics Pre-Seasoned Cast Iron Skillet Pan, 10.25 Inch</p>
              <div>
                <fieldset class="rating is-block">
                  <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                    title="Kinda bad - 2 stars"></label>
                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                    for="star1half" title="Meh - 1.5 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
                </fieldset>
                <div class="clearfix"></div>
              </div>
              <div class="content">


              </div>
            </div>
            <div class="card-footer">
              <p class="card-footer-item">
                <span class="is-size-2 has-text-left">$200</span>
              </p>
              <p class="card-footer-item">
                <span> Add to Cart</span>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}

<!-- ADDED SCRIPTS FOR CONTENT -->
{% block scripts %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script src="{% static 'store/js/store.js' %}"></script>
{% endblock %}