/*--------------------------------------------
    Single Product Page
----------------------------------------------*/
// Product Gallery
.product-gallery {
    display: flex;
    flex-wrap: wrap;
    position: sticky;

    &.row > * {
        display: flex;
        align-items: center;
    }
    &.product-gallery-sticky {
        top: 2rem;
    }
}

// Product Video
.product-gallery-btn {
    position: absolute;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    #{$right}: 1.5rem;
    bottom: 1.5rem;
    box-sizing: border-box;
    border: 0;
    border-radius: 50%;
    color: #999;
    background: #fff;
    font-size: 2rem;
    line-height: 1;
    opacity: 0.7;
    transition: opacity 0.3s,color 0.3s;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    cursor: pointer;
    &.product-degree-viewer {
        bottom: 6.5rem;
    }
    &.product-video-viewer {
        bottom: 11.5rem;
    }
    &:hover {
        opacity: 1;
        color: $dark-color;
    }
}
// Product Sticky Content
.product-sticky-content.fixed {
    background-color: #fff;
}

// Frequently Bought together
.bought-together-products {
    > * {
        width: auto;
    }
    .product-wrap {
        position: relative;
        flex: 0 0 15.8rem;
        max-width: 15.8rem;
        
        &:not(:first-child) {
            margin-#{$left}: 3rem;
            .product-media {
                &::before, &::after {
                    content: "";
                    position: absolute;
                    #{$left}: -2.5rem;
                    top: 50%;
                    background-color: #999;
                }
                &::before {
                    width: 17px;
                    height: 1px;
                    transform: translateX(if-ltr(-8px,8px));
                }
                &::after {
                    width: 1px;
                    height: 17px;
                    transform: translateY(-8px);
                }
            }
        }
    }
    .product-details {
        padding: 1.5rem .2rem 0;
    }
    .product-button {
        position: relative;
        margin: side-values(1.3rem 0 2.5rem 10rem);
        &::before, &::after {
            content: "";
            position: absolute;
            #{$left}: -5rem;
            top: 70px;
            width: 17px;
            height: 1px;
            transform: translateX(if-ltr(-8px,8px));
            background-color: #999;
        }
        &::before {
            margin-top: -12px;
        }
    }
    .bought-price {
        font-size: 2.4rem;
    }
    .bought-count {
        margin-bottom: 2.7rem;
        line-height: 1.3;
    }
    .product-media:hover {
        img {
            opacity: 1;
        }
    }
    .product-checkbox {
        position: absolute;
        top: 0;
        #{$left}: 0;
        width: 100%;
        height: 100%;
        label {
            position: static;
            padding-#{$left}: 0;
        }
    }
    .custom-checkbox {
        cursor: pointer;
        width: 100%;
        height: 100%;
        #{$left}: 0;
        top: 0;
        & + label::before {
            top: 1.5rem;
            #{$left}: 1.5rem;
            transform: none;
        }
    }
}

// Product Tabs
.product-tabs {
    .nav-item:not(:last-child) {
        margin-#{$right}: 4rem;
    }
    .nav-link {
        padding: 1.5rem 0 1.3rem;
        font-size: 2rem;
        font-weight: 700;
        color: $light-color;
        text-transform: capitalize;
        &::after {
            border-top: 2px solid transparent;
        }
    }
    .nav-tabs {
        .nav-link {
            &:hover, &.active {
                color: $dark-color;
            }
        }
    }
    .tab-pane {
        padding: 3.5rem 0 2.7rem;
    }
    ul {
        font-size: 1.4rem;
        color: #666;
    }
    .product-video {
        // top: 50%;
        // transform: translateY(-50%);
        img {
            min-height: 20rem;
        }
    }
}

#product-tab-description {
    .sub-title {
        margin: .4rem 0 .4rem;
        font-size: 1.4rem;
        span {
            margin-#{$right}: 1.2rem;
        }
    }
    .detail {
        line-height: 1.6;
    }
    ul {
        font-size: 1.3rem;
    }
    &.card-body {
        .col-md-6 {
            margin-bottom: 1.7rem;
        }
    }
}

#product-tab-specification {
    ul {
        li {
            display: flex;
            align-items: center;
            position: relative;
            padding: 0rem 0 1rem;
        }
        label {
            flex: 0 0 20rem;
            max-width: 20rem;
            align-self: center;
            z-index: 1;
            color: #333;
        }
        p {
            flex: 1;
            margin-bottom: 0;
        }
    }
}

#product-tab-vendor {
    .vendor-banner img {
        min-height: 29.5rem;
        width: 100%;
    }
    .vendor-user {
        display: flex;
        align-items: center;
        margin-bottom: 1.7rem;
    }
    .vendor-logo img {
        border: 1px solid #eee;
        border-radius: 5px;
    }
    .vendor-name {
        margin: .3rem 0;
        font-size: 1.8rem;
        font-weight: 600;
        color: $dark-color;
        a {
            color: inherit;
        }
    }
    .ratings-full {
        margin-#{$right}: .8rem;
    }
    .rating-reviews {
        font-size: 1.4rem;
        color: $body-color;
    }
    .vendor-info {
        margin-bottom: 3.1rem;
        font-size: 1.4rem;
        li {
            display: flex;
            padding: 0.75rem 0;
        }
        label {
            display: inline-block;
            flex: 0 0 12rem;
            max-width: 12rem;
            padding-#{$right}: 1rem;
            color: #333;
        }
    }
    .store-address {
        font-size: 1.4rem;
        color: $body-color;
        opacity: 1;
    }
    .store-phone {
        a {
            color: $dark-color;
            &:hover {
                color: $primary-color;
            }
        }
    }
    p {
        font-size: 1.4rem;
        line-height: 1.75;
    }
}

#product-tab-description,
#product-tab-vendor,
#product-tab-specification,
#product-tab-reviews {
    &.card-body {
        padding-top: 2.2rem;
        padding-bottom: 2rem;
    }
}

.accordion-simple:not(.accordion-icon) .card-header a::after {
    font-size: 1.6rem;
}

@include mq(md) {
    #product-tab-vendor {
        .pl-md-6 {
            padding-#{$left}: 3rem !important;
        }
    }
}

#product-tab-reviews {
    // padding-bottom: 3rem;
    border-bottom-width: 0;
    p {
        font-size: 1.4rem;
    }
    .avg-rating-container {
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin-bottom: .2rem;
    }
    .avg-mark {
        font-size: 6em;
        font-weight: 600;
        color: $primary-color;
        letter-spacing: -.025em;
        line-height: 1;
        margin-bottom: 0;
    }
    .avg-rating {
        margin-#{$left}: 1.8rem;
        p {
            font-size: 1.4rem;
            line-height: 1.4; 
        }
        .ratings-container {
            margin-bottom: .3rem;
        }
        .ratings-full {
            margin-#{$right}: .8rem;
        }
    }
    .ratings-value {
        margin-bottom: 1.6rem;
        font-size: 1.4rem;
        span:first-child {
            margin-#{$right}: 2.1rem;
            font-size: 2.5rem;
        }
        .count {
            margin-#{$left}: 0.6rem;
            font-size: 1.2rem;
            color: #aaa;
        }
    }
    .ratings-list {
        .ratings-container {
            margin-bottom: 1.5rem;
        }
        .progress-bar {
            max-width: 20rem;
            margin-#{$left}: 1.3rem;
            margin-bottom: 0;
            border-radius: .4rem;
            span {
                border-radius: .4rem;
            }
        }
        .progress-value {
            margin-#{$left}: 2rem;
            min-width: 4rem;
            mark {
                font-size: 1.2rem;
                color: #666;
            }
        }
    }
    .title-link {
        font-size: 1.4rem;
    }
    // Comment Form
    .review-form {
        padding-top: .3rem;
        .form-control {
            min-height: 4rem;
            margin-bottom: 2rem;
            font-family: $font-family;
            font-size: 1.3rem;
            border-color: #eee;
            color: #777;
            &::placeholder {
                color: inherit;
            }
        }
        textarea {
            height: 13.3rem;
        }
        .btn {
            background-color: #454545;
            border-color: #454545;
        }
    }
    .form-group {
        margin: .4rem 0 4.1rem;
        font-size: 1.4rem;
        label {
            padding-#{$left}: 2.7rem;
        }
        .custom-checkbox + label::before {
            top: 0;
            transform: none;
            margin-top: .2rem;
        }
    }
    .tab-nav-boxed {
        .nav-item {
            margin: side-values(0 1rem .5rem 1rem);
        }
        .nav-link {
            font-size: 1.3rem;
            font-weight: 600;
            color: $dark-color;
            border-width: 1px;
            padding: 0.9em 1.5em;
            border-radius: 2rem;
            &::after {
                content: none;
            }
            &:hover, &.active {
                color: $primary-color;
            }
        }
        .tab-pane {
            padding: 1.5rem 0 0;
        }
    }
}

.vendor-product-section {
    margin-bottom: 4.2rem;
}
.vendor-product-section, .related-product-section {
    .ratings-container {
        margin-bottom: .3rem;
    }
}
.product-single .product-countdown-container {
    display: flex;
    margin: -.7rem 0 1.3rem;
    font-size: 1.5rem;
    .countdown-amount {
        font-weight: 700;
        color: $primary-color;
    }
}
.description-section, .review-section {
    .title.title-link::before {
        height: .2rem;
    }
}
aside {
    .service-list {
        padding: 0 2rem;
        border: 1px solid #eee;
        > * {
            padding: 1.6rem 0;
            &:not(:last-child) {
                border-bottom: 1px solid #eee;
            }
        }
        .icon-box {
            svg {
                width: 3rem;
                height: 3rem;
            }
        }
        .icon-box-title {
            font-size: 1.3rem;
            line-height: 1.3;
            letter-spacing: 0;
        }
        p {
            font-size: 1.2rem;
            line-height: 1.2;
        }
    }
    .sp-sidebar-banner {
        .banner-content {
            top: 9%;
            #{$left}: 6.5%;
        }
        .banner-title, .banner-subtitle {
            font-size: 1.8rem;
            font-weight: 700;
            letter-spacing: -.01em;
            margin-bottom: .5rem;
        }
        span {
            font-size: 2.4rem;
            margin-#{$right}: .5rem;
        }
    }
}

// Product Sticky Both Content 
@include mq(lg) {
    .sticky-both-content {
        .product-details-1 {
            order: -1;
        }
    }
}

// Hotspot
.hotspot-banner {
    overflow: visible;
}   

.hotspot-product {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color .3s;
    .product {
        position: absolute;
        opacity: 0;
        width: 20em;
        padding: 1rem;
        visibility: hidden;
        background: #fff;
        box-shadow: 0 0 30px rgba(0,0,0,0.06);
        border-radius: .5rem;
        overflow: hidden;
        transition: opacity .3s, visibility .3s, transform .3s, z-index .3s;
        z-index: -1;
        .product-action-vertical {
            opacity: 1;
            visibility: visible;
        }
    }
    &:hover {
        background-color: #333;
        .btn-hotspot {
            color: #fff;
        }
        .product {
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }
    }
    &.hotspot-product-1 {
        #{$left}: 22.6%;
        top: 10.9%;
    }
    &.hotspot-product-2 {
        #{$left}: 23.8%;
        top: 82%;
    }
    &.hotspot-product-3 {
        #{$left}: 71.1%;
        top: 36.1%;
    }
}   

.hotspot-right {
    .product {
        #{$left}: 100%;
        top: -6rem;
    }
    &:hover {
        .product {
            transform: translateX(if-ltr(1rem,-1rem));
        }
    }
}
.hotspot-top {
    .product {
        bottom: 100%;
        #{$left}: -40px;
    }
    &:hover {
        .product {
            transform: translateY(-1rem);
        }
    }
}
.hotspot-left {
    .product {
        #{$right}: 100%;
        top: -60px;
    }
    &:hover {
        .product {
            transform: translateX(if-ltr(-1rem,1rem));
        }
    }
}

.btn-hotspot {
    font-size: 1.2em;
    line-height: 1;
    color: #333;
    transition: color .3s;
}

.pswp img {
    border-radius: .3rem;
}

@include mq(md) {
    body.addtocart-fixed {
        .footer {
            padding-bottom: 12.5rem;
        }
    }
}

@include mq(md, max) {
    .hotspot-banner {
        font-size: .8rem;
    }
}

@include mq(sm, max) {
    .bought-together-products {
        .product-wrap {
            flex: 0 0 12rem;
            max-width: 12rem;
        }
        .product-button {
            margin: side-values(-1rem 0 3rem 3rem);
            &::before, &::after {
                #{$left}: -1.5rem;
            }
        }
    }
}

@include mq(xs, max) {
    .hotspot-banner {
        font-size: .6rem;
    }
}

@include mq('375px', 'max') {
    #product-tab-specification {
        ul {
            li::before {
                width: calc(44% - 1rem);
            }
            label {
                flex: 0 0 44%;
                max-width: 44%;
            }
        }
    }
    // #product-tab-reviews {
    //     .avg-rating-container {
    //         font-size: .8rem;
    //     }
    //     .comment-action{
    //         span {
    //             display: none;
    //         }
    //     }
    // }        
}