html * {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
  background: #cdcfd3;
  padding: 0;
  margin: 0;
  text-align: center;
}

.login-box {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 25vh auto;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}

.login-box:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.login-box h2 {
  margin: 20px 0 20px;
  padding: 0;
  text-transform: uppercase;
  color: #4688F1;
}

.social-button {
    background-position: 25px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  height: 50px;
    line-height: 50px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
    border-radius: 3px;
  margin: 10px auto;
  outline: rgb(255, 255, 255) none 0px;
  padding-left: 20%;
  transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#facebook-connect {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook.svg?sanitize=true') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
  border: 1px solid rgb(60, 90, 154);
}

#facebook-connect:hover {
    border-color: rgb(60, 90, 154);
    background: rgb(60, 90, 154) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook-white.svg?sanitize=true') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
    -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

#facebook-connect span {
    box-sizing: border-box;
  color: rgb(60, 90, 154);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(255, 255, 255);
  outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#facebook-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#google-connect {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
  border: 1px solid rgb(220, 74, 61);
}

#google-connect:hover {
    border-color: rgb(220, 74, 61);
    background: rgb(220, 74, 61) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

#google-connect span {
    box-sizing: border-box;
  color: rgb(220, 74, 61);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(220, 74, 61);
  outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#google-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#twitter-connect {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/twitter.png') no-repeat scroll 5px 1px / 45px 45px padding-box border-box;
  border: 1px solid rgb(85, 172, 238);
}

#twitter-connect:hover {
    border-color: rgb(85, 172, 238);
    background: rgb(85, 172, 238) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/twitter-white.png') no-repeat scroll 5px 1px / 45px 45px padding-box border-box;
    -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

#twitter-connect span {
    box-sizing: border-box;
  color: rgb(85, 172, 238);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(220, 74, 61);
  outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#twitter-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#linkedin-connect {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/linkedin.svg?sanitize=true') no-repeat scroll 13px 0px / 28px 45px padding-box border-box;
  border: 1px solid rgb(0, 119, 181);
}

#linkedin-connect:hover {
    border-color: rgb(0, 119, 181);
    background: rgb(0, 119, 181) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/linkedin-white.svg?sanitize=true') no-repeat scroll 13px 0px / 28px 45px padding-box border-box;
    -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

#linkedin-connect span {
    box-sizing: border-box;
  color: rgb(0, 119, 181);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(0, 119, 181);
  outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#linkedin-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}


#chat-bot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999999999999999;
  height: auto;
  float: right;
}
#chat-bot .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: #2e2e2e;
  background: linear-gradient(135deg, rgb(253, 253, 253) 0%, rgb(255, 255, 255) 100%);
  width: 58px;
  height: 58px;
  float: right;
  border-radius: 100%;

  transition: 0.3s all;
  box-shadow: 0 30px 50px #1313130d;
  border: none;
  overflow: hidden;

}
.round-circle {
  border: 2px solid #000;
  border-radius: inherit;
  padding: 8px;
}
#chat-bot .icon:hover {
  box-shadow: 0 5px 20px rgb(209 231 221);
}
#chat-bot .icon .user {
  visibility: hidden;
  margin-left: -100px;
}
#chat-bot .icon.expanded {
  width: 27vw;
  justify-content: space-between;
}
#chat-bot .messenger.expanded {
  visibility: visible;
  height: 80vh;
  width: 27vw;
}
#chat-bot .icon.expanded .user {
  visibility: visible;
  margin-left: 0;
  transition: 0.5s;
}

#chat-bot .messenger {
  background-color: #fff;
  border: 1px solid #0f513238;
  box-shadow: 0 30px 50px #0000000d;
  margin-bottom: 10px;
  height: 80vh;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.7s;
  width: 0;
  height: 0;
  visibility: hidden;
}
#chat-bot .chatroom {
  background: #f4f4f4;
  padding: 10px;
  height: 64vh;
  overflow-y: scroll;
  overflow-x: hidden !important;
  display: flex;
  flex-direction: column;
  touch-action: pan-y;
}
#chat-bot .chatroom::-webkit-scrollbar {
  display: none;
}
#chat-bot .type-area input.typing {
  width: 100%;
  outline: none !important;
  border: 1px solid rgb(227 230 234);
  border-radius: 5px;
  padding: 8px 40px 8px 24px;
  height: 40px;
  font-size: 12px;
  border: none !important;

}
#chat-bot .type-area {
  position: relative;
  z-index: 99999999999;
  overflow: hidden;
  box-shadow: 0 5px 12px rgb(0 0 0 / 3%);
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
#chat-bot .type-area span.send {
  position: absolute;
  right: 14px;
  top: 9px;
  cursor: pointer;
  font-size: 18px;
}
#chat-bot .msg {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  line-height: 1.6;
  color: #7c8089;
}
#chat-bot .msg .bubble {
  padding: 10px;
  border-radius: 5px;

}
#chat-bot .msg.msg-right .bubble {
  
  color: rgb(15 81 50);
  background-color: rgb(209 231 221);
}
#chat-bot .msg .bubble .name {
  color: #393d4a;
  font-size: 12px;
  font-weight: 500;
}
.msg.msg-left {
  align-items: flex-start;
  text-align: left !important;
}
.msg.msg-right {
  align-items: flex-end;
  text-align: right !important;
}
#chat-bot .header {
  position: relative;
  min-height: 64px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
  background: #10174a;
  font-size: 100%;
    vertical-align: initial;
}
#chat-bot .home-icon {
  height: 35px;
  width: 35px;
  position: absolute;
    left: 21px;
    top: 20px;
    color: #fff;
}
#chat-bot .home-icon a{
  color: #fff;
}
#chat-bot .toggle-close-chatbot {
  height: 35px;
  width: 35px;
  position: absolute;
  right: 21px;
  top: 20px;
  color: #fff;
  cursor: pointer;
}
#chat-bot .home-icon:hover, #chat-bot .toggle-close-chatbot:hover {
  height: 35px;
  width: 35px;
  background-color: #031032;
  
}
#chat-bot .timestamp {
  font-size: 12px;
  color: #7c8089;
  text-align: center;
  margin-bottom: 10px;
}
#chat-bot .assistant-name {
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 18px;
}
.slide-out {
  transition: all 0.5s ease-out; /* Adjust the transition duration as needed */
  transform: translate(100%, 100%);
}

#chat-bot .home-view {
  background-color: #fff;
  border: 1px solid #0f513238;
  box-shadow: 0 30px 50px #0000000d;
  margin-bottom: 10px;
  height: 80vh;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.7s;
  width: 0;
  height: 0;
  visibility: hidden;
}
#chat-bot .home-view.expanded {

  visibility: visible;
  height: 80vh;
  width: 27vw;
}
#chat-bot .home-view .back-to-assistant {
  height: 35px;
  position: absolute;
  right: 57px;
  top: 10px;
  background: #030303;
  color: #f9f9f9;
  cursor: pointer;
  padding: 6px;
  border-radius: 4px;
}
.header-home{
  padding-top: 35px;
}
#chat-bot .home-view .toggle-close-chatbot {
  height: 35px;
  width: 35px;
  position: absolute;
  right: 21px;
  top: 10px;
  color: #030303;
  cursor: pointer;
}
#chat-bot .home-view .toggle-close-chatbot:hover {
  background: #dedcdc;
}
#chat-bot .home-view .chatroom {
  background: #fff;
  padding: 10px;
  height: 67vh;
  overflow-y: scroll;
  overflow-x: hidden !important;
  display: flex;
  flex-direction: column;
  touch-action: pan-y;
}
#chat-bot .home-view .chatroom h3 {
    line-height: 1.5;
    font-weight: 100;
    font-size: 2rem;
    text-align: left;
}
#chat-bot .home-view .chatroom .bot_faqs button {
  display: block !important;

  font-weight: 400;
    line-height: 1.33333;
    letter-spacing: .32px;
    background-color: #e0e0e0;
    color: #393939;
    display: inline-flex;
    width: fit-content;
    min-width: 32px;
    max-width: 100%;
    min-height: 24px;
    padding: 10px 12px;
    cursor: pointer !important;
    border: 1px solid transparent;
    border-radius: 17px;
    margin: 4px;
    margin-bottom: 10px;
    cursor: default;
    vertical-align: middle;
    word-break: break-word;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
#chat-bot .home-view .chatroom .bot_faqs button:hover {
  background-color: #b2b2b2;
}
#chat-bot .home-view .type-area {
  border: 1px solid #ededed;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  padding: 2px;
}
#chat-bot  .type-area .send {
  color: #ccd;
}
#chat-bot .type-area .send.active {
  color: #030303;
}
#chat-bot .home-view .chatroom::-webkit-scrollbar {
  display: none;
}
.display-none {
  display: none !important;
}
/* chat-bot	 end */