{% spaceless %}
{% load static i18n sass_tags%}
<!doctype html>
<html lang="en">

<head>
  {% block metatags %}
  <meta name="robots" content="index, follow" />
  <title>{% block title %} Otcart - Shop Freely and Securedly{% endblock %}</title>
  <meta name="description" content="{% block description %}  Otcart Shopping cart for free. {% endblock %}">
  <meta property="og:image" content="{% static 'img/otcart.png'%}">
  <meta property="og:url" content="otcart.otcollect.com">

  <meta name="twitter:title" content="Otcart Shopping cart for free.">
  <meta name="twitter:description" content="Otcart Shopping cart for free.">
  <meta name="twitter:image" content="{% static 'img/kjobbers.png'%}">

  <meta property="og:title" content="Otcart Shopping cart for free.">
  <meta property="og:description" content="Otcart Shopping cart for free.">
  <meta property="og:image" content="{% static 'img/card_image.png'%}">
  {% endblock%}
  <!-- linkbot metatags -->
  <meta property="fb:app_id" content="533925623812746">
  <meta property="og:site_name" content="otcart">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@otcart">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block styles %}
  <!--Added scripts goes here-->
  {% endblock %}

  <link href="{% sass_src 'styles/styles.scss' %}" rel="stylesheet" type="text/css" />

</head>

<body class="body">

  <nav class="navbar has-shadow">
    <div class="container is-fluid">
      <div class="navbar-brand">

        <!-- ASIDE MENU -->
        <div class="cover ">
          <div class="hamburger hamburger--vortex-r">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>

          <aside class="menu panel is-link">
            <p class="panel-heading menu-label ">
              <span class="icon">
                <i class="far fa-user-circle fa-1x"></i>
              </span>
              Hello Sign in
            </p>
            <ul class="menu-list">
              <li><a>Dashboard</a></li>
              <li><a>Customers</a></li>
            </ul>
            <p class="menu-label">
              Administration
            </p>
            <ul class="menu-list">
              <li><a>Team Settings</a></li>
              <li>
                <a class="is-active">Manage Your Team</a>
                <ul>
                  <li><a>Members</a></li>
                  <li><a>Plugins</a></li>
                  <li><a>Add a member</a></li>
                </ul>
              </li>
              <li><a>Invitations</a></li>
              <li><a>Cloud Storage Environment Settings</a></li>
              <li><a>Authentication</a></li>
            </ul>
            <p class="menu-label">
              Transactions
            </p>
            <ul class="menu-list">
              <li><a>Payments</a></li>
              <li><a>Transfers</a></li>
              <li><a>Balance</a></li>
            </ul>
          </aside>



        </div>

        <!-- APP LOGO -->
        <a class="navbar-item" href="/">
          <img src="{% static 'images/cart-logo.png' %}" alt="Bulma: a modern CSS framework based on Flexbox"
            width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>



      <!-- APPBAR Menu -->
      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="https://bulma.io/">
            Home
          </a>

        </div>


        <div class="field has-addons mt-1 mr-1 full-width">
          <div class="control full-width">
            <input class="input" type="text" placeholder="Find a repository">
          </div>
          <div class="control">
            <a class="button is-secordary-color">
              <i class="fa fa-search  fa-2x"></i>
            </a>
          </div>
        </div>



        <div class="navbar-end">
          <div class="navbar-item has-text-centered account-a">
            <a>
              <div class="is-size-7">
                Hello, Sign in
              </div>
              <span class="is-size-5">Account</span>
            </a>




          </div>
          <div class="navbar-item">

            <span class="fa-stack fa-1x has-badge" data-count="0">
              <i class="fa fa-cart-plus fa-stack-2x red-cart"></i>
            </span>
          </div>



        </div>
      </div>
  </nav>

  <!-- APP's MAIN CONTAINTER -->
  <main>
    <div class="container is-fluid">
      {% block content %}
      <!--Content goes here-->
      {% endblock %}
    </div>
  </main>


  <!-- APP's FOOTER TEMPLATE -->
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>

  <!-- I Decided to Use JQuery As It Makes things Easy -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  {% block scripts %}
  <!--Added scripts goes here-->
  {% endblock %}

  <!-- APPLICATIONS MAIN JS FILE -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
{% endspaceless %}